<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea - Get Started</title>
    <link rel="stylesheet" href="css/comienzo.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a VentaMini</h1>
        <p>Explora una amplia variedad de productos y disfruta de ofertas exclusivas.</p>
        <div class="buttons">
            <button class="btn btn-primary" onclick="location.href='inicia'">Iniciar sesión</button>
            <button class="btn btn-secondary" onclick="location.href='registro'">Registrarse</button>
        </div>
    </div>
</body>
</html>
